.navbar {
    display: flex;
    justify-content:space-around;
    padding: 10px;
    box-shadow: 0 1px 3px -2px black;


}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    

}
.nav-logo img{
    width: 100px;
    margin-left: -10px;

}

.nav-menu{
    display: flex;
    border: none;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: rgb(114, 168, 239);
    font-size: 20px;
    font-weight: 500px;
    
}
.nav-menu li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px; 
    cursor: pointer;
    
}
.nav-menu hr{
    border: none;
    text-decoration: none;
    width: 90%;
    height: 3px;
    border-radius: 10px;
    background: rgb(226, 148, 199);
}