.displayData{
    border: 2px solid rgb(233, 135, 236);
    padding: 30px;
    
}
.date{
    border-bottom: 2px solid  rgb(233, 135, 236);

}
.display{
    font-size: 20px;
    
}
.temo{
    grid-template-columns: 2fr;
}